{
  "id": "/telegraf-consumer-{{ inventory_hostname }}",
  "instances": 1,
  "cpus": 1,
  "mem": 1024,
  "acceptedResourceRoles": [
    "*"
  ],
  "constraints": [
    [
      "hostname",
      "LIKE",
      "{{ inventory_hostname }}"
    ]
  ],
  "container": {
    "docker": {
      "forcePullImage": false,
      "image": "telegraf:1.6.0",
      "network": "BRIDGE",
      "privileged": false
    },
    "type": "DOCKER",
    "volumes": [
      {
        "containerPath": "/etc/telegraf",
        "hostPath":      "/home/telegraf/consumer/conf",
        "mode":          "RO"
      }
    ]
  },
  "maxLaunchDelaySeconds": 30,
  "upgradeStrategy": {
    "maximumOverCapacity": 0,
    "minimumHealthCapacity": 0
  },
  "taskKillGracePeriodSeconds": 30
}
