{
  "id": "/telegraf-consumer-{{ item }}",
  "instances": 1,
  "cpus": 1,
  "mem": 1024,
  "container": {
    "docker": {
      "forcePullImage": false,
      "image": "telegraf:1.6.0",
      "network": "BRIDGE",
      "privileged": false
    },
    "type": "DOCKER",
    "volumes": [
      {
        "containerPath": "/etc/telegraf",
        "hostPath":      "telegraf-consumer-{{ item }}/conf",
        "mode":          "RO"
      }
    ]
  },
  "maxLaunchDelaySeconds": 30,
  "upgradeStrategy": {
    "maximumOverCapacity": 0,
    "minimumHealthCapacity": 0
  },
  "taskKillGracePeriodSeconds": 30,
  "fetch": [
    {
      "uri":        "http://{{ groups['dcos-bootstrap-' + zone][0] }}/fetch/telegraf-consumer-{{ item }}/telegraf.conf",
      "executable": false,
      "extract":    false,
      "cache":      false,
      "destPath":   "telegraf-consumer-{{ item }}/conf/telegraf.conf"
    }
  ],
  "dependencies": [
    "/influxdb-{{ item }}"
  ]
}
