[Unit]
Description=Apache Kafka server (broker)
Documentation=https://kafka.apache.org/documentation/
Requires=network.target remote-fs.target
After=network.target remote-fs.target
 
[Service]
Type=simple
User=kafka
Group=kafka
Environment=JAVA_HOME=/opt/java
Environment=JRE_HOME=/opt/java/jre
Environment=KAFKA_HEAP_OPTS=-Xmx{{ jvm_heap_size }}G -Xms{{ jvm_heap_size }}G
Environment=LOG_DIR=/var/log/kafka
ExecStart=/opt/kafka/bin/kafka-server-start.sh /etc/kafka/server.properties
ExecStop=/opt/kafka/bin/kafka-server-stop.sh
