[Unit]
Description=Apache Kafka server (broker)
Documentation=https://kafka.apache.org/documentation/
Requires=network.target remote-fs.target
After=network.target remote-fs.target
 
[Service]
Type=simple
User=kafka
Group=kafka
Environment=JAVA_HOME=/usr/share/java
Environment=JRE_HOME=/usr/share/java/jre
Environment=KAFKA_HEAP_OPTS="-Xmx{{ jvm_heap_size }}G -Xms{{ jvm_heap_size }}G"
ExecStart=/usr/share/kafka/bin/kafka-server-start.sh /etc/kafka/server.properties
ExecStop=/usr/share/kafka/bin/kafka-server-stop.sh
