{
  "id": "/jenkins",
  "instances": 1,
  "cpus": 2,
  "mem": 4096,
  "constraints": [
    [
      "hostname",
      "LIKE",
      "{{ inventory_hostname }}"
    ]
  ],
  "container": {
    "docker": {
      "forcePullImage": false,
      "image": "tomcat:8.5.31",
      "network": "BRIDGE",
      "parameters": [
        {
          "key": "memory-swap",
          "value": "0b"
        },
        {
          "key": "oom-kill-disable",
          "value": "true"
        }
      ],
      "portMappings": [
        {
          "name": "http",
          "containerPort": 8080,
          "hostPort": 0,
          "protocol": "tcp"
        }
      ],
      "privileged": false
    },
    "type": "DOCKER",
    "volumes": [
      {
        "containerPath": "/usr/local/tomcat/conf/Catalina/localhost",
        "hostPath": "/var/lib/tomcat/conf",
        "mode": "RO"
      },
      {
        "containerPath": "/usr/local/tomcat/logs",
        "hostPath": "/var/lib/tomcat/logs",
        "mode": "RW"
      },
      {
        "containerPath": "/usr/local/tomcat/temp",
        "hostPath": "/var/lib/tomcat/temp",
        "mode": "RW"
      },
      {
        "containerPath": "/var/lib/jenkins",
        "hostPath": "/var/lib/jenkins",
        "mode": "RW"
      }
    ]
  },
  "healthChecks": [
    {
      "gracePeriodSeconds": 60,
      "ignoreHttp1xx": true,
      "intervalSeconds": 1,
      "maxConsecutiveFailures": 3,
      "path": "/",
      "portIndex": 0,
      "protocol": "HTTP",
      "timeoutSeconds": 10
    }
  ],
  "maxLaunchDelaySeconds": 60,
  "labels": {
    "HAPROXY_GROUP": "external",
    "HAPROXY_0_ENABLED": "true",
    "HAPROXY_0_VHOST": "jenkins.{{ domain_name }}"
  },
  "upgradeStrategy": {
    "maximumOverCapacity": 0,
    "minimumHealthCapacity": 0
  },
  "taskKillGracePeriodSeconds": 30
}
